g a {
    cursor: pointer
}

g.node polygon {
    transition: stroke 0.2s ease-out , fill 0.2s ease-out;
}

g.node:hover polygon {
    stroke: rgb(69, 153, 248) !important
}

g.edge polygon,
g.edge path,
g.edge ellipse{
    transition: stroke 0.2s ease-out 0.75s, fill 0.2s ease-out 0.75s;
}

g.edge polygon, g.edge ellipse {
    cursor: pointer;
}

g.edge path {
    stroke-width: 2px !important;
}

g.edge.highlight polygon,
g.edge.highlight ellipse {
    transition: stroke 0.2s ease-out 0s, fill 0.2s ease-out 0s;
    fill: rgb(69, 153, 248) !important
}

g.edge.highlight path,
g.edge.highlight polygon,
g.edge.highlight ellipse {
    transition: stroke 0.2s ease-out 0s, fill 0.2s ease-out 0s;
    stroke: rgb(69, 153, 248) !important
}